.App {
  text-align: center;
}

.board{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);

  width: 50vw;
  height: 50vw;
  border: 1px solid black;
}

.board .cell{
  border: 1px solid black;
}

